/*
 * Copyright (c) 2025 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// Using layer taps on thumbs, having quick tap as well helps w/ repeating space
&lt {
    tapping-term-ms = <200>;
    quick_tap_ms = <200>;
};



/ {
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            bindings = <&kp>, <&kp>;
        };
        
        en_i: en_i {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = 
                <&kp SQT>,    // i
                <&kp LS(I)>; // I
            mods = <(MOD_LSFT|MOD_RSFT)>;
        }; 

        tr_i: tr_i {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = 
                <&kp I>,        // ı
                <&kp LS(SQT)>; // İ
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        en_sqt: en-sqt {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings =  <&kp LS(N2)>,   // '
                        <&kp GRAVE>;   // "
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        en_equal: en_equal {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings =  <&kp RS(N0)>,   // =
                        <&kp KP_PLUS>; // +
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        en_slash: en_slash {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings =  <&kp RS(N7)>,  // slash
                        < &kp UNDER>; // ?
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

    };


    keymap {
        compatible = "zmk,keymap";

        // This is a sample keymap intended to be replaced with your own  &studio_unlock
        default_layer {

            bindings = <
            &kp ESC        &kp N1    &kp N2    &kp N3    &kp N4    &kp N5                                                       &kp N6  &kp N7    &kp N8     &kp N9     &kp N0    &kp DEL
            &kp TAB        &kp Q     &kp W     &kp F     &kp P     &kp G                                                        &kp J   &kp L     &kp U      &kp Y      &kp QUOT  &kp BSLH
            &kp CAPS       &kp A     &kp R     &kp S     &kp T     &kp D      &trans                             &trans         &kp H   &kp N     &kp E      &kp I      &kp O     &kp SQT
            &kp LSHFT      &kp Z     &kp X     &kp C     &kp V     &kp B   &trans     &studio_unlock        &trans     &trans   &kp K   &kp M     &kp COMMA  &kp DOT    &kp SEMI  &kp RCTRL
                                     &kp LCTRL &kp RSHFT &kp LALT          &kp SPACE  &bt BT_CLR_ALL                &kp ENTER  &kp SPACE        &kp LGUI  &kp LALT   &kp RSHFT  
            >;

             sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

    };
};